<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eTUITOR</title>
    @Styles.Render("~/Content/css")
    @if (IsSectionDefined("css"))
    {
        @RenderSection("css", required: false)
    }
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CSS Files -->

    <link href="~/Content/vendor/font-awesome/css/material-dashboard.css" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/build/css/demo.css" rel="stylesheet" />
    <!-- Google Tag Manager -->
    <link href="~/Content/build/css/switch.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper ">
        @Html.Partial("~/Views/Shared/Common/_Sidebar.cshtml")
        <div class="main-panel">
            @Html.Partial("~/Views/Shared/Common/_Navbar.cshtml")
            <div class="content">
                @RenderBody()

            </div>
            @Html.Partial("~/Views/Shared/Common/_Footer.cshtml")
        </div>
    </div>

    @Scripts.Render("~/Content/js")
    <script src="~/Content/vendor/jquery/jquery-plugin-collection.js"></script>
    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: false)
    }
</body>
</html>
